/* colors */
$bg-color: #f0f0f0;
$primary-color: #fbbb00;
$secondary-color: #505050;
$text-color: #333;
$hover-color: #f1b500;

/* generic breakpoints */
$xl: 1250px;
$lg: 1024px;
$md: 650px;
$sm: 400px;
$xs: 340px;
