@import '../../assets/scss/variables';

.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    z-index: 9999999;
    background: rgba(0, 0, 0, 0.404);
}

.modal-enter {
    opacity: 0.01;
    transform: scale(1.1);
}

.modal-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 0.3s;
}

.modal-exit {
    opacity: 1;
    transform: scale(1);
}

.modal-exit-active {
    opacity: 0.01;
    transform: scale(1.1);
    transition: all 0.3s;
}
